@charset "utf-8";

ul#album-fotos {
	width: 700px;
	margin: 0px;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid white;
	background-color: white;
	box-shadow: 1px 1px 3px black;
	-webkit-transition: all 0.5s ease-in;
}

ul#album-fotos li span {
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: black;
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover {
	-webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span {
	opacity: 1;
}

ul#album-fotos li#foto1 {
	background: url('galeria-01.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
}

ul#album-fotos li#foto1:hover {
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto2 {
	background: url('galeria-02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px
	background-color: white;
}

ul#album-fotos li#foto2:hover {
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto3 {
	background: url('galeria-03.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
}

ul#album-fotos li#foto3:hover {
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto4 {
	background: url('galeria-04.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
}

ul#album-fotos li#foto4:hover {
	background-size: 200px 200px;
	background-position: 0px 0px;
}

ul#album-fotos li#foto5 {
	background: url('galeria-05.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
}

ul#album-fotos li#foto5:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto6 {
	background: url('galeria-06.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
}

ul#album-fotos li#foto6:hover {
	background-size: 200px 200px;
	background-position: 0px 0px;
}