@charset "UTF-8";

div#audio-video {
	width: 900px;
	height: 590px;
	margin: auto;
	background: url(radio-tv.png) no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 567px; 
	top: 500px;
	width: 400px;
}

video#filme {
	display: block;
	position: relative;
	left: 88px;
	top: 100px;
	width: 440px;
}